In [1]:
import pandas as pd
import requests
import sqlalchemy

In [3]:
URL = "https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest"

header = {"Content-Type": "application/json",
          "Accept-Encoding": "deflate"}

response = requests.get(URL, headers=header)
print(response)

<Response [200]>

In [5]:
content_type = response.headers.get("Content-Type", "")

if "application/json" in content_type:
    print("Response contains JSON data.")
    try:
        data = response.json()  # Try parsing JSON
        print("JSON parsed successfully!")
    except ValueError:
        print("Error: Response is not valid JSON.")
else:
    print(f"Response is not JSON. Content-Type: {content_type}")
    print("Response text:", response.text[:500])

Response contains JSON data.
JSON parsed successfully!

In [7]:
USDemo_result = response.json()
print(USDemo_result)

{'data': [{'ID State': '04000US01', 'State': 'Alabama', 'ID Year': 2022, 'Year': '2022', 'Population': 5028092, 'Slug State': 'alabama'}, {'ID State': '04000US02', 'State': 'Alaska', 'ID Year': 2022, 'Year': '2022', 'Population': 734821, 'Slug State': 'alaska'}, {'ID State': '04000US04', 'State': 'Arizona', 'ID Year': 2022, 'Year': '2022', 'Population': 7172282, 'Slug State': 'arizona'}, {'ID State': '04000US05', 'State': 'Arkansas', 'ID Year': 2022, 'Year': '2022', 'Population': 3018669, 'Slug State': 'arkansas'}, {'ID State': '04000US06', 'State': 'California', 'ID Year': 2022, 'Year': '2022', 'Population': 39356104, 'Slug State': 'california'}, {'ID State': '04000US08', 'State': 'Colorado', 'ID Year': 2022, 'Year': '2022', 'Population': 5770790, 'Slug State': 'colorado'}, {'ID State': '04000US09', 'State': 'Connecticut', 'ID Year': 2022, 'Year': '2022', 'Population': 3611317, 'Slug State': 'connecticut'}, {'ID State': '04000US10', 'State': 'Delaware', 'ID Year': 2022, 'Year': '2022', 'Population': 993635, 'Slug State': 'delaware'}, {'ID State': '04000US11', 'State': 'District of Columbia', 'ID Year': 2022, 'Year': '2022', 'Population': 670587, 'Slug State': 'district-of-columbia'}, {'ID State': '04000US12', 'State': 'Florida', 'ID Year': 2022, 'Year': '2022', 'Population': 21634529, 'Slug State': 'florida'}, {'ID State': '04000US13', 'State': 'Georgia', 'ID Year': 2022, 'Year': '2022', 'Population': 10722325, 'Slug State': 'georgia'}, {'ID State': '04000US15', 'State': 'Hawaii', 'ID Year': 2022, 'Year': '2022', 'Population': 1450589, 'Slug State': 'hawaii'}, {'ID State': '04000US16', 'State': 'Idaho', 'ID Year': 2022, 'Year': '2022', 'Population': 1854109, 'Slug State': 'idaho'}, {'ID State': '04000US17', 'State': 'Illinois', 'ID Year': 2022, 'Year': '2022', 'Population': 12757634, 'Slug State': 'illinois'}, {'ID State': '04000US18', 'State': 'Indiana', 'ID Year': 2022, 'Year': '2022', 'Population': 6784403, 'Slug State': 'indiana'}, {'ID State': '04000US19', 'State': 'Iowa', 'ID Year': 2022, 'Year': '2022', 'Population': 3188836, 'Slug State': 'iowa'}, {'ID State': '04000US20', 'State': 'Kansas', 'ID Year': 2022, 'Year': '2022', 'Population': 2935922, 'Slug State': 'kansas'}, {'ID State': '04000US21', 'State': 'Kentucky', 'ID Year': 2022, 'Year': '2022', 'Population': 4502935, 'Slug State': 'kentucky'}, {'ID State': '04000US22', 'State': 'Louisiana', 'ID Year': 2022, 'Year': '2022', 'Population': 4640546, 'Slug State': 'louisiana'}, {'ID State': '04000US23', 'State': 'Maine', 'ID Year': 2022, 'Year': '2022', 'Population': 1366949, 'Slug State': 'maine'}, {'ID State': '04000US24', 'State': 'Maryland', 'ID Year': 2022, 'Year': '2022', 'Population': 6161707, 'Slug State': 'maryland'}, {'ID State': '04000US25', 'State': 'Massachusetts', 'ID Year': 2022, 'Year': '2022', 'Population': 6984205, 'Slug State': 'massachusetts'}, {'ID State': '04000US26', 'State': 'Michigan', 'ID Year': 2022, 'Year': '2022', 'Population': 10057921, 'Slug State': 'michigan'}, {'ID State': '04000US27', 'State': 'Minnesota', 'ID Year': 2022, 'Year': '2022', 'Population': 5695292, 'Slug State': 'minnesota'}, {'ID State': '04000US28', 'State': 'Mississippi', 'ID Year': 2022, 'Year': '2022', 'Population': 2958846, 'Slug State': 'mississippi'}, {'ID State': '04000US29', 'State': 'Missouri', 'ID Year': 2022, 'Year': '2022', 'Population': 6154422, 'Slug State': 'missouri'}, {'ID State': '04000US30', 'State': 'Montana', 'ID Year': 2022, 'Year': '2022', 'Population': 1091840, 'Slug State': 'montana'}, {'ID State': '04000US31', 'State': 'Nebraska', 'ID Year': 2022, 'Year': '2022', 'Population': 1958939, 'Slug State': 'nebraska'}, {'ID State': '04000US32', 'State': 'Nevada', 'ID Year': 2022, 'Year': '2022', 'Population': 3104817, 'Slug State': 'nevada'}, {'ID State': '04000US33', 'State': 'New Hampshire', 'ID Year': 2022, 'Year': '2022', 'Population': 1379610, 'Slug State': 'new-hampshire'}, {'ID State': '04000US34', 'State': 'New Jersey', 'ID Year': 2022, 'Year': '2022', 'Population': 9249063, 'Slug State': 'new-jersey'}, {'ID State': '04000US35', 'State': 'New Mexico', 'ID Year': 2022, 'Year': '2022', 'Population': 2112463, 'Slug State': 'new-mexico'}, {'ID State': '04000US36', 'State': 'New York', 'ID Year': 2022, 'Year': '2022', 'Population': 19994379, 'Slug State': 'new-york'}, {'ID State': '04000US37', 'State': 'North Carolina', 'ID Year': 2022, 'Year': '2022', 'Population': 10470214, 'Slug State': 'north-carolina'}, {'ID State': '04000US38', 'State': 'North Dakota', 'ID Year': 2022, 'Year': '2022', 'Population': 776874, 'Slug State': 'north-dakota'}, {'ID State': '04000US39', 'State': 'Ohio', 'ID Year': 2022, 'Year': '2022', 'Population': 11774683, 'Slug State': 'ohio'}, {'ID State': '04000US40', 'State': 'Oklahoma', 'ID Year': 2022, 'Year': '2022', 'Population': 3970497, 'Slug State': 'oklahoma'}, {'ID State': '04000US41', 'State': 'Oregon', 'ID Year': 2022, 'Year': '2022', 'Population': 4229374, 'Slug State': 'oregon'}, {'ID State': '04000US42', 'State': 'Pennsylvania', 'ID Year': 2022, 'Year': '2022', 'Population': 12989208, 'Slug State': 'pennsylvania'}, {'ID State': '04000US44', 'State': 'Rhode Island', 'ID Year': 2022, 'Year': '2022', 'Population': 1094250, 'Slug State': 'rhode-island'}, {'ID State': '04000US45', 'State': 'South Carolina', 'ID Year': 2022, 'Year': '2022', 'Population': 5142750, 'Slug State': 'south-carolina'}, {'ID State': '04000US46', 'State': 'South Dakota', 'ID Year': 2022, 'Year': '2022', 'Population': 890342, 'Slug State': 'south-dakota'}, {'ID State': '04000US47', 'State': 'Tennessee', 'ID Year': 2022, 'Year': '2022', 'Population': 6923772, 'Slug State': 'tennessee'}, {'ID State': '04000US48', 'State': 'Texas', 'ID Year': 2022, 'Year': '2022', 'Population': 29243342, 'Slug State': 'texas'}, {'ID State': '04000US49', 'State': 'Utah', 'ID Year': 2022, 'Year': '2022', 'Population': 3283809, 'Slug State': 'utah'}, {'ID State': '04000US50', 'State': 'Vermont', 'ID Year': 2022, 'Year': '2022', 'Population': 643816, 'Slug State': 'vermont'}, {'ID State': '04000US51', 'State': 'Virginia', 'ID Year': 2022, 'Year': '2022', 'Population': 8624511, 'Slug State': 'virginia'}, {'ID State': '04000US53', 'State': 'Washington', 'ID Year': 2022, 'Year': '2022', 'Population': 7688549, 'Slug State': 'washington'}, {'ID State': '04000US54', 'State': 'West Virginia', 'ID Year': 2022, 'Year': '2022', 'Population': 1792967, 'Slug State': 'west-virginia'}, {'ID State': '04000US55', 'State': 'Wisconsin', 'ID Year': 2022, 'Year': '2022', 'Population': 5882128, 'Slug State': 'wisconsin'}, {'ID State': '04000US56', 'State': 'Wyoming', 'ID Year': 2022, 'Year': '2022', 'Population': 577929, 'Slug State': 'wyoming'}, {'ID State': '04000US72', 'State': 'Puerto Rico', 'ID Year': 2022, 'Year': '2022', 'Population': 3272382, 'Slug State': 'puerto-rico'}], 'source': [{'measures': ['Population'], 'annotations': {'source_name': 'Census Bureau', 'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.', 'dataset_name': 'ACS 5-year Estimate', 'dataset_link': 'http://www.census.gov/programs-surveys/acs/', 'table_id': 'B01003', 'topic': 'Diversity', 'subtopic': 'Demographics'}, 'name': 'acs_yg_total_population_5', 'substitutions': []}]}

In [9]:
if 'data' in USDemo_result:
    Demo_data = USDemo_result['data']
    df = pd.DataFrame(Demo_data)
    print(df.head(15))

     ID State                 State  ID Year  Year  Population  \
0   04000US01               Alabama     2022  2022     5028092
1   04000US02                Alaska     2022  2022      734821
2   04000US04               Arizona     2022  2022     7172282
3   04000US05              Arkansas     2022  2022     3018669
4   04000US06            California     2022  2022    39356104
5   04000US08              Colorado     2022  2022     5770790
6   04000US09           Connecticut     2022  2022     3611317
7   04000US10              Delaware     2022  2022      993635
8   04000US11  District of Columbia     2022  2022      670587
9   04000US12               Florida     2022  2022    21634529
10  04000US13               Georgia     2022  2022    10722325
11  04000US15                Hawaii     2022  2022     1450589
12  04000US16                 Idaho     2022  2022     1854109
13  04000US17              Illinois     2022  2022    12757634
14  04000US18               Indiana     2022  2022     6784403

              Slug State
0                alabama
1                 alaska
2                arizona
3               arkansas
4             california
5               colorado
6            connecticut
7               delaware
8   district-of-columbia
9                florida
10               georgia
11                hawaii
12                 idaho
13              illinois
14               indiana

In [11]:
from tabulate import tabulate #puts the entire data into a cleaner looking table

print(tabulate(df, headers='keys', tablefmt='grid'))

+----+------------+----------------------+-----------+--------+--------------+----------------------+
|    | ID State   | State                |   ID Year |   Year |   Population | Slug State           |
+====+============+======================+===========+========+==============+======================+
|  0 | 04000US01  | Alabama              |      2022 |   2022 |      5028092 | alabama              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  1 | 04000US02  | Alaska               |      2022 |   2022 |       734821 | alaska               |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  2 | 04000US04  | Arizona              |      2022 |   2022 |      7172282 | arizona              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  3 | 04000US05  | Arkansas             |      2022 |   2022 |      3018669 | arkansas             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  4 | 04000US06  | California           |      2022 |   2022 |     39356104 | california           |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  5 | 04000US08  | Colorado             |      2022 |   2022 |      5770790 | colorado             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  6 | 04000US09  | Connecticut          |      2022 |   2022 |      3611317 | connecticut          |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  7 | 04000US10  | Delaware             |      2022 |   2022 |       993635 | delaware             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  8 | 04000US11  | District of Columbia |      2022 |   2022 |       670587 | district-of-columbia |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
|  9 | 04000US12  | Florida              |      2022 |   2022 |     21634529 | florida              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 10 | 04000US13  | Georgia              |      2022 |   2022 |     10722325 | georgia              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 11 | 04000US15  | Hawaii               |      2022 |   2022 |      1450589 | hawaii               |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 12 | 04000US16  | Idaho                |      2022 |   2022 |      1854109 | idaho                |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 13 | 04000US17  | Illinois             |      2022 |   2022 |     12757634 | illinois             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 14 | 04000US18  | Indiana              |      2022 |   2022 |      6784403 | indiana              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 15 | 04000US19  | Iowa                 |      2022 |   2022 |      3188836 | iowa                 |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 16 | 04000US20  | Kansas               |      2022 |   2022 |      2935922 | kansas               |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 17 | 04000US21  | Kentucky             |      2022 |   2022 |      4502935 | kentucky             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 18 | 04000US22  | Louisiana            |      2022 |   2022 |      4640546 | louisiana            |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 19 | 04000US23  | Maine                |      2022 |   2022 |      1366949 | maine                |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 20 | 04000US24  | Maryland             |      2022 |   2022 |      6161707 | maryland             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 21 | 04000US25  | Massachusetts        |      2022 |   2022 |      6984205 | massachusetts        |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 22 | 04000US26  | Michigan             |      2022 |   2022 |     10057921 | michigan             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 23 | 04000US27  | Minnesota            |      2022 |   2022 |      5695292 | minnesota            |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 24 | 04000US28  | Mississippi          |      2022 |   2022 |      2958846 | mississippi          |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 25 | 04000US29  | Missouri             |      2022 |   2022 |      6154422 | missouri             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 26 | 04000US30  | Montana              |      2022 |   2022 |      1091840 | montana              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 27 | 04000US31  | Nebraska             |      2022 |   2022 |      1958939 | nebraska             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 28 | 04000US32  | Nevada               |      2022 |   2022 |      3104817 | nevada               |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 29 | 04000US33  | New Hampshire        |      2022 |   2022 |      1379610 | new-hampshire        |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 30 | 04000US34  | New Jersey           |      2022 |   2022 |      9249063 | new-jersey           |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 31 | 04000US35  | New Mexico           |      2022 |   2022 |      2112463 | new-mexico           |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 32 | 04000US36  | New York             |      2022 |   2022 |     19994379 | new-york             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 33 | 04000US37  | North Carolina       |      2022 |   2022 |     10470214 | north-carolina       |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 34 | 04000US38  | North Dakota         |      2022 |   2022 |       776874 | north-dakota         |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 35 | 04000US39  | Ohio                 |      2022 |   2022 |     11774683 | ohio                 |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 36 | 04000US40  | Oklahoma             |      2022 |   2022 |      3970497 | oklahoma             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 37 | 04000US41  | Oregon               |      2022 |   2022 |      4229374 | oregon               |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 38 | 04000US42  | Pennsylvania         |      2022 |   2022 |     12989208 | pennsylvania         |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 39 | 04000US44  | Rhode Island         |      2022 |   2022 |      1094250 | rhode-island         |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 40 | 04000US45  | South Carolina       |      2022 |   2022 |      5142750 | south-carolina       |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 41 | 04000US46  | South Dakota         |      2022 |   2022 |       890342 | south-dakota         |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 42 | 04000US47  | Tennessee            |      2022 |   2022 |      6923772 | tennessee            |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 43 | 04000US48  | Texas                |      2022 |   2022 |     29243342 | texas                |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 44 | 04000US49  | Utah                 |      2022 |   2022 |      3283809 | utah                 |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 45 | 04000US50  | Vermont              |      2022 |   2022 |       643816 | vermont              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 46 | 04000US51  | Virginia             |      2022 |   2022 |      8624511 | virginia             |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 47 | 04000US53  | Washington           |      2022 |   2022 |      7688549 | washington           |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 48 | 04000US54  | West Virginia        |      2022 |   2022 |      1792967 | west-virginia        |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 49 | 04000US55  | Wisconsin            |      2022 |   2022 |      5882128 | wisconsin            |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 50 | 04000US56  | Wyoming              |      2022 |   2022 |       577929 | wyoming              |
+----+------------+----------------------+-----------+--------+--------------+----------------------+
| 51 | 04000US72  | Puerto Rico          |      2022 |   2022 |      3272382 | puerto-rico          |
+----+------------+----------------------+-----------+--------+--------------+----------------------+

In [13]:
from sqlalchemy import create_engine

# Define the connection string for Windows Authentication
db_connection = "mssql+pyodbc://@KING\\SQLEXPRESS/DataKing2025?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"

# Create engine
engine = create_engine(db_connection)

In [16]:
df.to_sql(name='Data', con=engine, if_exists='append', index=False)

52